## Server Config
server.port=CHANGEME
server.servlet.context-path=/bookdb
server.servlet.session.timeout=240m
debug=false

## Logging
# Level for loggers on classes inside the root package "com.harryseong" (and its sub-packages)
# Available levels are: TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF
logging.level.com.harryseong=INFO
logging.level.root=INFO

## Database
spring.datasource.url=jdbc:mysql://localhost:3306/books
spring.datasource.username=CHANGEME
spring.datasource.password=CHANGEME

## Flyway
spring.flyway.locations=classpath:db/migration

## JPA
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect

#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true
#spring.jpa.open-in-view=true
# Hibernate ddl auto (create, create-drop, validate, update)
#spring.jpa.hibernate.ddl-auto=create-drop

harryseong.books.google.api.key=CHANGEME
harryseong.books.google.api.url=CHANGEME